body {
    font-family: Arial;
    color: white;
}

.split {
    height: 100%;
    width: 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: #5A5A5A;
}

#resourceTable{
    border: 1px solid black;
    box-align: right;
    margin: 30px;  
    box-align: right;
}

#itemTable{
    border: 1px solid black;
    clear: right;
    margin: 30px;
    box-align: right;
}

input[type=number] {
    text-align:right;
}

#operator::-webkit-inner-spin-button, 
#operator::-webkit-outer-spin-button,
#mechanic::-webkit-inner-spin-button, 
#mechanic::-webkit-outer-spin-button {  
    opacity: 1;
}

#villageTable{
    border: 1px solid black;
    clear: right;
    position: absolute;
    bottom: 15%;
    right: 30px;
}

#pageTwoBtns{
    float: left;
    margin: 80px;
}

#buildBtns{
    float: left;
    margin: 80px;  
}
#craftBtns{
    float: left;
    margin: 80px;  
}
#buyBtns{
    float: left;
    margin: 80px;  
}

#sndMessage{
    float: left;
    margin-bottom:5px;
    margin-left: 10px;
    font-size: 16px;
    height: 30px;
}

.Btn{
    text-align: center;
    font-size: 16px;
    width: 100%;
    height: 30px;
    margin: 5px;
}

*:focus {
    outline: none;
}
.resources, .items, .village, .jobs{
    background-color: transparent;
    border-color: transparent;
    text-align: right;
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 50px;
}

.tooltip {
    position: relative;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -75px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .headerButton {
	font-size: 18px;
	cursor: pointer;
	float: left;
	margin: 10px 10px 10px;
	padding-left: 10px;
}

div#header {
	padding-bottom: 20px;
	height: 20px;
}

.textHeader{
    position: relative;
}